.accordion {
  &__item__body {
    overflow: auto;
    margin: 2px 0 10px;
    border: none;
    padding: 0 20px;
    max-height: 0;
    transition: max-height 0.3s ease-in;
    transition: padding 0.2s ease-in;
  }
  &__item__title, &__item__body--active + &__item__body {
    max-height: 250px;
    border: 1px solid black;
    border-radius: 7px;
    padding: 20px;
  }
}